  :root {
    --nutmeg: hsl(332, 51%, 32%);
    --dark-raspberry: hsl(14, 45%, 36%);

    --White: hsl(0, 0%, 100%);
    --Rose-White: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-Grey:  hsl(30, 18%, 87%);
    --Wenge-Brown: hsl(30, 10%, 34%);
    --Dark-Charcoal: hsl(24, 5%, 18%);
  }
  
  *, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    background-color: var(--Eggshell);
  }

  h1 {
    font-family: 'Young Serif', sans-serif;
    color: var(--Dark-Charcoal);
  }

  p {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    color: var(--Wenge-Brown);
    padding: .7em;
  }

  img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 1em;
  }

  .container {
  width: 100%;
  max-width: 700px;
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

  .recipe-presentation,
  .preparation-container,
  .ingredients-container,
  .directions-container,
  .nutrition-container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding-left: 1em;
  }

  ul {
    margin-left: 2em;
  }

    ul li { 
      font-family: 'Outfit', sans-serif;
      font-weight: 500; 
      color: var(--Wenge-Brown);
      padding: .5em;
  }

    ol {
      counter-reset: item ;
      max-width: 500px;
      margin: 0 auto;
    }

    ol li { 
      font-family: 'Outfit', sans-serif;
      font-weight: 500; 
      color: var(--Wenge-Brown);
      padding: .7em;
      position: relative;
      margin: 0 auto;
    }

    ol li:before { 
      content: counter(item) ".  "; 
      counter-increment: item; 
      color: var(--dark-raspberry); 
      font-family: 'Outfit', sans-serif;
      font-weight: 900; 
      position: absolute;
      left: -1.2em;
    }

    hr {
      height: .2px;
      background-color: var(--Light-Grey);
      opacity: .2;
      margin: .5em auto;
    }

    .recipe__title {
      font-family: 'Young Serif', sans-serif;
      font-size: 2em;
      margin-bottom: 0.5em;
    }
    
    .preparation-container {
      background-color: var(--Rose-White);
      padding: 1em;
      border-radius: 5%;
    }

    .preparation__title {
      color:  var(--nutmeg);
      margin-bottom: .5em;
      font-size: 1.125rem;
      font-family: 'Young Serif', sans-serif;
    }

    .ingredients__title,
    .directions__title,
    .nutrition__title {
      color: var(--dark-raspberry);
      margin: .5em .5em;
      font-family: 'Young Serif', sans-serif;
    }

    .numeric--values {
      color: var(--dark-raspberry);
      font-weight: 600;
    }

    .table--values {
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-bottom: .2px solid var(--Light-Grey);
    }

    .attribution {
        font-family: 'Outfit', sans-serif;
        font-size: 11px; 
        text-align: center; 
        margin-top: 2em;
        }

      .attribution a { 
        color: hsl(228, 45%, 44%); 
      }

      @media (min-width: 700px) {

        body {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        h1 {
          font-size: 1.5rem;
        }

        img {
          border-radius: 10px;
        }

        .container {
          width: 80%;
          max-width: 600px;
          padding: 2.5em;
          border-radius: 20px;
          margin-top: 8em ;
        }
      }
