  :root {
  --nutmeg: hsl(332, 51%, 32%);
  --dark-raspberry: hsl(14, 45%, 36%);

  --White: hsl(0, 0%, 100%);
  --Rose-White: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --Light-Grey:  hsl(30, 18%, 87%);
  --Wenge-Brown: hsl(30, 10%, 34%);
  --Dark-Charcoal: hsl(24, 5%, 18%);
}

*, 
*::after, 
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--Eggshell);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

p {
  font-family: 'Outfit', sans-serif;
  color: var(--Wenge-Brown);
  font-size: 0.7rem;
  margin-bottom: 1em;
}

img {
  max-width: 100%;
  display: block;
  margin-bottom: 1em;
  border-radius: 10px 10px 0 0;
}

ul {
  margin-left: 2em;
}

ul li { 
  font-family: 'Outfit', sans-serif;
  font-weight: 500; 
  color: var(--Wenge-Brown);
  line-height: 2;
}

ol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

ol li { 
  width: 95%;
  font-family: 'Outfit', sans-serif;
  font-weight: 500; 
  color: var(--Wenge-Brown);
  line-height: 1.5;
  padding: .5em;
  margin: 0 auto;
}

ol li::marker { 
  color: var(--dark-raspberry); 
  font-family: 'Outfit', sans-serif;
  font-weight: 900;
}

hr {
  height: .2px;
  background-color: var(--Light-Grey);
  opacity: .2;
  margin: .5em auto;
}

.container {
  width: 100%;
  max-width: 730px;
  padding: 2rem;
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.recipe-presentation,
.preparation-container,
.ingredients-container,
.directions-container,
.nutrition-container {
  width: 100%;
  margin: 0 auto;
}

.recipe__title {
  font-family: 'Young Serif', sans-serif;
  font-weight: 500;
  font-size: clamp(1rem, 5vw, 2.5rem);
  margin-bottom: .5rem;
  color: var(--Dark-Charcoal);
}

.preparation-container {
  background-color: var(--Rose-White);
  padding: 1em;
  border-radius: 5%;
}

.preparation__title {
  color:  var(--nutmeg);
  margin-bottom: .5em;
  font-size: clamp(.5rem, 2.5vw, 1rem);
  font-family: 'Young Serif', sans-serif;
}

.ingredients__title,
.directions__title,
.nutrition__title {
  color: var(--dark-raspberry);
  margin-block: .5em;
  font-weight: 600;
  font-size: clamp(1rem, 4vw, 1.5rem);
  font-family: 'Young Serif', sans-serif;
}

table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
}

tr {
  border-bottom: 1px solid hsla(32, 10%, 34%, 0.342);
  border-width: 90%;
}

td {
  font-family: 'Outfit', sans-serif;
  color: var(--Wenge-Brown);
  padding: .5em 1em;
}

.numeric--values {
  color: var(--nutmeg);
  font-weight: 600;
}

.attribution {
  font-family: 'Outfit', sans-serif;
  font-size: 11px; 
  text-align: center; 
  margin-top: 2em;
  }

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

